
* {
  box-sizing: border-box;
  margin: 0.5;
  padding: 0;

}

body {
  font-size: 12px;
  font-family: Helvetica;
  color: grey;
  background-color: white;

  margin-left: 30%;
  margin-right: 30%;

  text-align: justify;

}

.title {
  font-size: 30px;
  color: grey;
  font-family: Helvetica;
  font-weight: bold;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  padding: 10px 10px;
}
