
* {
  box-sizing: border-box;
  margin: 0.5;
  padding: 0;

}

body {
  font-size: 16px;
  font-family: Helvetica;
  color: dimgrey;
  background-color: white;

  margin-left: 25%;
  margin-right: 25%;

  text-align: justify;
}

@media only screen and (max-width: 600px) {
    body {
      margin-left: 0;
      maring-right: 0;
    }
  }

.title {
  font-size: 30px;
  color: dimgrey;
  font-family: Helvetica;
  font-weight: bold;
}

a {
  color: royalblue;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  padding: 10px 10px;
}
